<!-- ::header part start:: -->
<style>
    #canvas_a{
        text-align: center;
        border: solid 2px black;
        margin-left: 100px;
        margin-top: 30px;
    }
</style>
<header class="main_menu home_menu">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/">
                        <h1>AEMS</h1>
                    </a>
                    <a style="margin-left:800px" class="btn_2 d-none d-lg-block" href="/ambulance/login">Login</a>
                </nav>
            </div>
        </div>
</header>
<!-- Header part end-->

<!-- banner part start-->
<% include ./partials/msg.ejs %>

<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 align-items-center">
                <br><br>
                <h2>The location entered is <span id="patient_x"><%= data[3].patient_x %></span>-<span
                        id="patient_y"><%= data[3].patient_y %></span></h2>
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h2>Emergency Ambulance has been called</h2>
                        <div>
                            <% if(typeof(data[2].statement)=='string'){ %>
                            <h4 style="color: red;;"><%= data[2].statement %></h4>
                            <% } %>
                            <br>
                            <h3>Ambulance data:</h3>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>Ambulance Vehicle No.</th>
                                    <th>Location coordinate</th>
                                    <th>Problem</th>
                                    <th>Driver Name</th>
                                    <th>Driver Contact Number</th>
                                </tr>
                                <tr>
                                    <td id="vehicle"><%= data[0].vehicle_no %></td>
                                    <td><span id="ambx"><%= data[0].x %></span>-<span id="amby"><%= data[0].y %></span></td>

                                    <td id="problem"><%= data[0].problem %></td>

                                    <td><%= data[2].driver_name %></td>
                                    <td><%= data[2].contact_no %></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h2>Hospital has been alloted</h2>
                        <br>
                        <div>
                            <h3>Hospital data:</h3>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>Hospital ID</th>
                                    <th>Location coordinate</th>
                                </tr>
                                <tr>
                                    <td id="hid"><%= data[1].hid %></td>
                                    <td><span id="hidx"><%= data[1].x %></span>-<span id="hidy"><%= data[1].y %></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <br>
                            <h3>Estimates Charges:</h3>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>Base Fare</th>
                                    <th>Charges per km</th>
                                    <th>Distance</th>
                                    <th>Total Commute Cost</th>
                                    <% if(data.length>4) {%>
                                    <th>Total Equipment Cost</th>
                                    <th>Total Cost</th>
                                    <% } %>
                                </tr>
                                <tr>
                                    <td><%= data[0].base_fare %></td>
                                    <td><%= data[0].charge_per_km %></td>
                                    <td><%= parseInt(data[1].distance) %></td>

                                    <% if(data.length>4) {%>
                                    <td id="payment"><%= data[1].cost %></td>
                                    <td><%= data[4].total_equipment_cost %></td>
                                    <td id="payment_info"><%= parseInt(data[4].total_cost) %></td>
                                    <%} else {%>
                                    <td id="payment_info"><%= data[1].cost %></td>
                                    <% } %>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-lg-12">
                <button class="btn_2" href="" name="confirm_booking" id="confirm">Confirm Booking</button>
                <button class="btn_2" id="go_back" href="main.ejs">Go Back</button><br>
            </div><br><br>
            <object id="hospital_data" width="50" height="50" data="<%= hospital_data %>"></object>
            <object id="ambulance_data" width="50" height="50" data="<%= ambulance_data %>"></object>
            <div id="canvas_a">
            &nbsp;&nbsp;<canvas id="canv" width="700" height="700"></canvas>
            </div>
        </div>
        
    </div>
    
    
</section>

<script>
    var i=5;

    window.onload=function(){

        hidx=document.getElementById('hidx').innerHTML;
        hidy=document.getElementById('hidy').innerHTML;
        ambx=document.getElementById('ambx').innerHTML;
        amby=document.getElementById('amby').innerHTML;
        patient_x=document.getElementById('patient_x').innerHTML;
        patient_y=document.getElementById('patient_y').innerHTML;

        hospital_data=document.getElementById('hospital_data').data;
        console.log(hospital_data);
        hospital_data=hospital_data.split("http://localhost:8080/");
        hospital_data=hospital_data[1];
        var data_encoded='%';
        for(var i=2;i<hospital_data.length-2;i++){
            data_encoded+=hospital_data[i]
        }
        data_encoded+='D';
        console.log(data_encoded)
        data_decoded=decodeURI(data_encoded)
        console.log(data_decoded);
        data=data_decoded.split('},{');
        for(var i=0;i<data.length-1;i++){
            data[i]+='}'
        }
        for(var i=1;i<data.length;i++){
            data[i]='{'+data[i];
        }
        // console.log(data);
        // console.log(data[0]);
        // console.log(data[1]);
        // console.log(data[2]);
        // console.log(data[3]);
        // console.log(data[4]);
        
        canv=document.getElementById("canv");
        ctx=canv.getContext("2d");
        //ctx.fillStyle="#FAFAD2";
        ctx.fillStyle="#FFFFE0";

        ctx.fillRect(0,0,canv.width,canv.height);
        for(var i=0;i<data.length;i++){
            canvas_hospital_data=JSON.parse(data[i])
            if(canvas_hospital_data.x==hidx && canvas_hospital_data.y==hidy){
                ctx.fillStyle='yellow';
                ctx.beginPath();
                ctx.arc(canvas_hospital_data.x*5, canvas_hospital_data.y*5, 8, 0, 2 * Math.PI);
                ctx.fill();     
            }
            else{
                ctx.fillStyle='blue';
                ctx.beginPath();
                ctx.arc(canvas_hospital_data.x*5, canvas_hospital_data.y*5, 8, 0, 2 * Math.PI);
                ctx.fill();
            } 

        }
        ambulance_data=document.getElementById('ambulance_data').data;
        console.log(ambulance_data)
        ambulance_data=ambulance_data.split("http://localhost:8080/");
        ambulance_data=ambulance_data[1];
        console.log(ambulance_data)
        data_encoded=''
        for(var i=1;i<ambulance_data.length-1;i++){
            data_encoded+=ambulance_data[i]
        }
        console.log('@@@@@',data_encoded)
        data_decoded=decodeURI(data_encoded)
        console.log(data_decoded);
        data=data_decoded.split('},{');
        console.log(data)
        for(var i=0;i<data.length-1;i++){
            data[i]+='}'
        }
        for(var i=1;i<data.length;i++){
            data[i]='{'+data[i];
        }
        for(var i=0;i<data.length;i++){
            canvas_ambulance_data=JSON.parse(data[i])
            if(canvas_ambulance_data.x==ambx && canvas_ambulance_data.y==amby){
                ctx.fillStyle='gray';
                ctx.beginPath();
                ctx.arc(canvas_ambulance_data.x*5, canvas_ambulance_data.y*5, 8, 0, 2 * Math.PI);
                ctx.fill();
            }
            else{
                ctx.fillStyle='red';
                ctx.beginPath();
                ctx.arc(canvas_ambulance_data.x*5, canvas_ambulance_data.y*5, 8, 0, 2 * Math.PI);
                ctx.fill();
            }
        }

        //patients location
        ctx.fillStyle='black';
        ctx.beginPath();
        ctx.arc(patient_x*5, patient_y*5, 8, 0, 2 * Math.PI);
        ctx.fill();  

        ctx.fillStyle='blue';
        ctx.beginPath();
        ctx.arc(510, 510, 5, 0, 2 * Math.PI);
        ctx.fill();
        ctx.font = "15px Arial";
        ctx.strokeText("Hospitals", 520, 515); 

        ctx.fillStyle='red';
        ctx.beginPath();
        ctx.arc(510, 540, 5, 0, 2 * Math.PI);
        ctx.fill();
        ctx.font = "15px Arial";
        ctx.strokeText("Ambulances", 520, 545);

        ctx.fillStyle='yellow';
        ctx.beginPath();
        ctx.arc(510, 570, 5, 0, 2 * Math.PI);
        ctx.fill();
        ctx.font = "15px Arial";
        ctx.strokeText("Hospital Alloted", 520, 575);

        ctx.fillStyle='gray';
        ctx.beginPath();
        ctx.arc(510, 600, 5, 0, 2 * Math.PI);
        ctx.fill();
        ctx.font = "15px Arial";
        ctx.strokeText("Ambulance Alloted", 520, 605);

        ctx.fillStyle='black';
        ctx.beginPath();
        ctx.arc(510, 630, 5, 0, 2 * Math.PI);
        ctx.fill();
        ctx.font = "15px Arial";
        ctx.strokeText("Patient Location", 520, 635);

        //draw line
        ctx.beginPath();
        ctx.moveTo(patient_x*5, patient_y*5);
        ctx.lineTo(ambx*5, amby*5);
        ctx.lineWidth=6;
        ctx.stroke();

        ctx.beginPath();
        ctx.moveTo(patient_x*5, patient_y*5);
        ctx.lineTo(hidx*5, hidy*5);
        ctx.lineWidth=6;
        ctx.strokeStyle='green';
        ctx.stroke();

        ctx.beginPath();
        ctx.moveTo(500, 660);
        ctx.lineTo(514, 660);
        ctx.lineWidth=6;
        ctx.strokeStyle='black';
        ctx.stroke();
        ctx.lineWidth=1;
        ctx.font = "15px Arial";
        ctx.strokeText("Ambulance To Patient", 520, 665);

        ctx.beginPath();
        ctx.moveTo(500, 690);
        ctx.lineTo(514, 690);
        ctx.lineWidth=6;
        ctx.strokeStyle='green';
        ctx.stroke();
        ctx.lineWidth=1;
        ctx.strokeStyle='black';
        ctx.font = "15px Arial";
        ctx.strokeText("Patient To Hospital", 520, 695);

        // ctx.beginPath();
        // ctx.moveTo(10, 0);
        // ctx.lineTo(10, 500);
        // ctx.lineWidth=6;
        // ctx.stroke();

        // ctx.beginPath();
        // ctx.moveTo(10, 500);
        // ctx.lineTo(510, 500);
        // ctx.lineWidth=6;
        // ctx.stroke();

        ctx.beginPath();
        ctx.moveTo(0, 525);
        ctx.lineTo(500, 525);
        ctx.lineWidth=1;
        ctx.strokeStyle='black';
        ctx.stroke();
       
        ctx.beginPath();
        ctx.moveTo(0, 0);
        ctx.lineTo(0, 525);
        ctx.lineWidth=1;
        ctx.strokeStyle='black';
        ctx.stroke();

        /*for(var i=1;i<10;i++){
            ctx.beginPath();
            ctx.moveTo(i*50, 520);
            ctx.lineTo(1*50, 530);
            ctx.lineWidth=1;
            ctx.strokeStyle='black';
            ctx.stroke(); 
        }*/
        
    }
</script>


<!-- banner part start-->


<script>
    document.getElementById('confirm').addEventListener('click', (e) => {
        //e.preventDefault();
        console.log("hello")
        var vehicle = document.getElementById('vehicle');
        console.log(vehicle.innerHTML);
        var x = vehicle.innerHTML;
        var path = '/ambulance/change_status_available/5';
        var problem = document.getElementById('problem').innerHTML;
        console.log("till here")
        var hid = document.getElementById('hid').innerHTML;
        console.log("till here1")
        var hidx = document.getElementById('hidx').innerHTML;
        var hidy = document.getElementById('hidy').innerHTML;
        var patient_x = document.getElementById('patient_x').innerHTML;
        var patient_y = document.getElementById('patient_y').innerHTML;
        console.log('done till here')
        var payment_info = document.getElementById('payment_info').innerHTML;
        console.log(hid, hidx, hidy, patient_x, patient_y, payment_info)

        fetch('/ambulance/confirmation/' + x, {
            method: 'post',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "problem": problem,
                "hidx": hidx,
                "hidy": hidy,
                "patient_x": patient_x,
                "patient_y": patient_y,
                "hid": hid,
                "payment_info": payment_info,
            }),
        })
            .then((response) => {
                return response.json()
            })
            .then((data) => {
                console.log('Post request created', data);
                document.getElementById('confirm').style.visibility = "hidden";
                //document.getElementById('after_post').innerHTML = "Your Ambulance is On the Way";
            });

    });
    document.getElementById('go_back').addEventListener('click', (e) => {
        window.location = 'http://localhost:8080/';
    })
</script>