<!--::header part start::-->
<header class="main_menu home_menu">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="index.html"> <img src="img/logo.png" alt="logo"> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse main-menu-item justify-content-center"
                        id="navbarSupportedContent">
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pages
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="services.html">services</a>
                                    <a class="dropdown-item" href="dep.html">depertments</a>
                                    <a class="dropdown-item" href="elements.html">Elements</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <a class="btn_2 d-none d-lg-block" href="/ambulance/login">Login</a>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header part end-->

<!-- banner part start-->
<% include ./partials/msg.ejs %>
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>Emergency Ambulance Called</h1>


                        <div>
                            <h3>Ambulance data:</h3>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>Ambulance Vehicle No.</th>
                                    <th>Location coordinate</th>
                                    <% if(typeof(data[0].problem)== 'string') %>
                                    <th>Problem</th>
                                    <th>Driver Name</th>
                                    <th>Driver Contact Number</th>
                                </tr>
                                <tr>
                                    <td id="vehicle"><%= data[0].vehicle_no %></td>
                                    <td><%= data[0].x %>-<%= data[0].y %></td>
                                    <% if(typeof(data[0].problem)== 'string') %>
                                    <td id="problem"><%= data[0].problem %></td>
                                    <td><%= data[2].driver_name %></td>
                                    <td><%= data[2].contact_no %></td>
                                </tr>
                            </table>
                        </div>

                        <h2 id="after_post"></h2>
                        <button class="btn_2" href="" name="confirm_booking" id="confirm">Confirm Booking</button>
                        <button class="btn_2" id="go_back" href="main.ejs">Go Back</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>Hospital alloted</h1>


                        <div>
                            <h3>Hospital data:</h3>

                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>Hospital ID</th>
                                    <th>Location coordinate</th>
                                </tr>
                                <tr>
                                    <td><%= data[1].hid %></td>
                                    <td><%= data[1].x %>-<%= data[0].y %></td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <h3>Estimates Charges:</h3>
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>Base Fare</th>
                                    <th>Charges per km</th>
                                    <th>Distance</th>
                                    <th>Total Cost</th>
                                </tr>
                                <tr>
                                    <td><%= data[0].base_fare %></td>
                                    <td><%= data[0].charge_per_km %></td>
                                    <td><%= parseInt(data[1].distance) %></td>
                                    <td><%= data[1].cost %></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- banner part start-->


<script>
    document.getElementById('confirm').addEventListener('click', (e) => {
        //e.preventDefault();
        console.log("he")
        var vehicle = document.getElementById('vehicle');
        console.log(vehicle.innerHTML);
        var x = vehicle.innerHTML;
        var path = '/ambulance/change_status_available/5';
        var problem = document.getElementById('problem').innerHTML;
        fetch('/ambulance/confirmation/' + x, {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "problem": problem
                }),
            })
            .then((response) => {
                return response.json()
            })
            .then((data) => {
                console.log('Post request created', data);
                document.getElementById('confirm').style.visibility = "hidden";
                document.getElementById('after_post').innerHTML = "Your Ambulance is On the Way";
            });

        var arr = [];
        arr.push({
            'status': 'Available'
        });
        fetch('/ambulance/confirmation/' + x, {
                method: 'post',
                body: arr,
            })
            .then((response) => {
                return response.json()
            })
            .then((data) => {
                console.log('Post request created', data);
                document.getElementById('confirm').style.visibility = "hidden";
                document.getElementById('after_post').innerHTML = "Your Ambulance is On the Way";
            });

    });
    document.getElementById('go_back').addEventListener('click', (e) => {
        window.location = 'http://localhost:8080/';
    })
</script>
